In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import timedelta
import pytz

import functions_PyMetatrader5 as fnmt5

In [14]:
indice = pd.read_csv('files\\Unemployment Rate - United States.csv', index_col='DateTime')
indice.drop('Revised', axis=1, inplace=True)
indice.index = pd.to_datetime(indice.index)
indice.tail()

                     Actual  Consensus  Previous
DateTime
2007-07-06 12:30:00     4.5        4.5       4.5
2007-06-01 12:30:00     4.5        4.5       4.5
2007-05-04 12:30:00     4.5        4.5       4.4
2007-04-06 12:30:00     4.4        4.6       4.5
2007-03-09 13:30:00     4.5        4.6       NaN

In [15]:
np.random.seed(545)
escenarios = np.random.choice([i for i in range(len(indice))], 5)
asset = 'USDCHF'
dates = [[indice.iloc[i].name, indice.iloc[i].name + datetime.timedelta(hours=0.5)] for i in escenarios ]
escenarios

array([ 44,   5,  39, 129,  38])

In [16]:
# local_exe = 'C:\\Program Files\\MetaTrader 5\\terminal64.exe'
local_exe = 'C:\\Archivos de programa\\MetaTrader 5 Terminal\\terminal64.exe'

mt5_acc = 5383442
mt5_pass = "44GxKTtf"
mt5_client = fnmt5.f_init_login(mt5_acc, mt5_pass, local_exe)

 ++++ init_login succeded, message =  True

In [20]:
def is_dst(when):
    return when.dst() != timedelta(0)
def validadiciones(df_index: pd.DataFrame, mt5_client, symbol):
    # semilla
    np.random.seed(545)
    # 5 fechas aleatorioas
    escenarios = np.random.choice([i for i in range(len(df_index))], 5)
    # Agregamos media hora a todas las fechas
    tf = datetime.timedelta(hours=0.5)
    # Ajusta para daylight savings
    dates = [[df_index.iloc[i].name, df_index.iloc[i].name + tf] for i in escenarios]

    # descarga de precios
    prices = [fnmt5.f_hist_prices(mt5_client, [symbol], 'M1', dates[i][0], dates[i][-1]).get(asset) for i in range(len(dates))]
    
    # separacion y columnas de tiempo
    escenario1 = prices[0]
    escenario1['time'] = [datetime.datetime.utcfromtimestamp(times) for times in escenario1['time']]
    
    escenario2 = prices[1]
    escenario2['time'] = [datetime.datetime.utcfromtimestamp(times) for times in escenario2['time']]

    escenario3 = prices[2]
    escenario3['time'] = [datetime.datetime.utcfromtimestamp(times) for times in escenario3['time']]

    
    escenario4 = prices[3]
    escenario4['time'] = [datetime.datetime.utcfromtimestamp(times) for times in escenario4['time']]

    
    escenario5 = prices[4]
    escenario5['time'] = [datetime.datetime.utcfromtimestamp(times) for times in escenario5['time']]

    
    return escenario1, escenario2, escenario3, escenario4, escenario5

In [19]:
def escenarios(fila):
    
    if fila[0]>=fila[1]>=fila[2]:
        escenario = 'A'
    elif fila[0]>=fila[1]<fila[2]:
        escenario = 'B'
    elif fila[0]<fila[1]>=fila[2]:
        escenario = 'C'
    else:
        escenario = 'D'
    return escenario

indice.iloc[-1]['Previous'] = indice.iloc[-2]['Actual']

In [66]:
asset = 'USDCHF'

df_escenarios = pd.DataFrame(index=indice.index)
df_escenarios['Escenario'] = [escenarios(indice.iloc[i].to_list()) for i in range(len(indice))]

tf = datetime.timedelta(hours=0.5)
dst_adjust = datetime.timedelta(hours=1)

dates = [df_escenarios.iloc[i].name - tf + dst_adjust for i in range(len(df_escenarios)) ]

prices = [fnmt5.f_hist_prices_from(mt5_client, [asset], 'M1', dates[i], 61).get(asset) for i in range(len(dates))]

In [67]:
pip_size = 10000
direccion = []
for i in range(len(df_escenarios)):
    df = prices[i]
    df['time'] = [datetime.datetime.utcfromtimestamp(times) for times in df['time']]
    direc = df['close'][df['time'] == df_escenarios.index[i]] - df['close'].iloc[-1]
    print(df['time'].iloc[30],df_escenarios.index[i], i )

2020-02-07 13:30:00 2020-02-07 13:30:00 0
2020-01-10 13:30:00 2020-01-10 13:30:00 1
2019-12-06 13:30:00 2019-12-06 13:30:00 2
2019-11-01 12:30:00 2019-11-01 12:30:00 3
2019-10-04 12:30:00 2019-10-04 12:30:00 4
2019-09-06 12:30:00 2019-09-06 12:30:00 5
2019-08-02 12:30:00 2019-08-02 12:30:00 6
2019-07-05 12:30:00 2019-07-05 12:30:00 7
2019-06-07 12:30:00 2019-06-07 12:30:00 8
2019-05-03 12:30:00 2019-05-03 12:30:00 9
2019-04-05 12:30:00 2019-04-05 12:30:00 10
2019-03-08 13:30:00 2019-03-08 13:30:00 11
2019-02-01 13:30:00 2019-02-01 13:30:00 12
2019-01-04 13:30:00 2019-01-04 13:30:00 13
2018-12-07 13:30:00 2018-12-07 13:30:00 14
2018-11-02 12:30:00 2018-11-02 12:30:00 15
2018-10-05 12:30:00 2018-10-05 12:30:00 16
2018-09-07 12:30:00 2018-09-07 12:30:00 17
2018-08-03 12:30:00 2018-08-03 12:30:00 18
2018-07-06 12:30:00 2018-07-06 12:30:00 19
2018-06-01 12:30:00 2018-06-01 12:30:00 20
2018-05-04 12:30:00 2018-05-04 12:30:00 21
2018-04-06 12:30:00 2018-04-06 12:30:00 22
2018-03-09 13:30:00 2018-03-09 13:30:00 23
2018-02-02 13:30:00 2018-02-02 13:30:00 24
2018-01-05 13:30:00 2018-01-05 13:30:00 25
2017-12-08 13:30:00 2017-12-08 13:30:00 26
2017-11-03 12:30:00 2017-11-03 12:30:00 27
2017-10-06 12:30:00 2017-10-06 12:30:00 28
2017-09-01 12:30:00 2017-09-01 12:30:00 29
2017-08-04 12:30:00 2017-08-04 12:30:00 30
2017-07-07 12:30:00 2017-07-07 12:30:00 31
2017-06-02 12:30:00 2017-06-02 12:30:00 32
2017-05-05 12:30:00 2017-05-05 12:30:00 33
2017-04-07 12:30:00 2017-04-07 12:30:00 34
2017-03-10 13:30:00 2017-03-10 13:30:00 35
2017-02-03 13:30:00 2017-02-03 13:30:00 36
2017-01-06 13:30:00 2017-01-06 13:30:00 37
2016-12-02 13:30:00 2016-12-02 13:30:00 38
2016-11-04 12:30:00 2016-11-04 12:30:00 39
2016-10-07 12:30:00 2016-10-07 12:30:00 40
2016-09-02 12:30:00 2016-09-02 12:30:00 41
2016-08-05 12:30:00 2016-08-05 12:30:00 42
2016-07-08 12:30:00 2016-07-08 12:30:00 43
2016-06-03 12:30:00 2016-06-03 12:30:00 44
2016-05-06 12:30:00 2016-05-06 12:30:00 45
2016-04-01 12:30:00 2016-04-01 12:30:00 46
2016-03-04 13:30:00 2016-03-04 13:30:00 47
2016-02-05 13:30:00 2016-02-05 13:30:00 48
2016-01-08 13:30:00 2016-01-08 13:30:00 49
2015-12-04 13:30:00 2015-12-04 13:30:00 50
2015-11-06 13:30:00 2015-11-06 13:30:00 51
2015-10-02 12:30:00 2015-10-02 12:30:00 52
2015-09-04 12:30:00 2015-09-04 12:30:00 53
2015-08-07 12:30:00 2015-08-07 12:30:00 54
2015-07-02 12:30:00 2015-07-02 12:30:00 55
2015-06-05 12:30:00 2015-06-05 12:30:00 56
2015-05-08 12:30:00 2015-05-08 12:30:00 57
2015-04-03 12:30:00 2015-04-03 12:30:00 58
2015-03-06 13:30:00 2015-03-06 13:30:00 59
2015-02-06 13:30:00 2015-02-06 13:30:00 60
2015-01-09 13:30:00 2015-01-09 13:30:00 61
2014-12-05 13:30:00 2014-12-05 13:30:00 62
2014-11-07 13:30:00 2014-11-07 13:30:00 63
2014-10-03 12:30:00 2014-10-03 12:30:00 64
2014-09-05 12:30:00 2014-09-05 12:30:00 65
2014-08-01 12:30:00 2014-08-01 12:30:00 66
2014-07-03 12:30:00 2014-07-03 12:30:00 67
2014-06-06 12:30:00 2014-06-06 12:30:00 68
2014-05-02 12:30:00 2014-05-02 12:30:00 69
2014-04-04 12:30:00 2014-04-04 12:30:00 70
2014-03-07 13:30:00 2014-03-07 13:30:00 71
2014-02-07 13:30:00 2014-02-07 13:30:00 72
2014-01-10 13:30:00 2014-01-10 13:30:00 73
2013-12-06 13:30:00 2013-12-06 13:30:00 74
2013-11-08 13:30:00 2013-11-08 13:30:00 75
2013-10-22 12:30:00 2013-10-22 12:30:00 76
2013-09-06 12:30:00 2013-09-06 12:30:00 77
2013-08-02 12:30:00 2013-08-02 12:30:00 78
2013-07-05 12:30:00 2013-07-05 12:30:00 79
2013-06-07 12:30:00 2013-06-07 12:30:00 80
2013-05-03 12:30:00 2013-05-03 12:30:00 81
2013-04-05 12:30:00 2013-04-05 12:30:00 82
2013-03-08 13:30:00 2013-03-08 13:30:00 83
2013-02-01 13:30:00 2013-02-01 13:30:00 84
2013-01-04 13:30:00 2013-01-04 13:30:00 85
2012-12-07 13:30:00 2012-12-07 13:30:00 86
2012-11-02 12:30:00 2012-11-02 12:30:00 87
2012-10-05 12:30:00 2012-10-05 12:30:00 88
2012-09-07 12:30:00 2012-09-07 12:30:00 89
2012-08-03 12:30:00 2012-08-03 12:30:00 90
2012-07-06 12:30:00 2012-07-06 12:30:00 91
2012-06-01 12:30:00 2012-06-01 12:30:00 92
2012-05-04 12:30:00 2012-05-04 12:30:00 93
2012-04-06 12:30:00 2012-04-06 12:30:00 94
2012-03-09 13:30:00 2012-03-09 13:30:00 95
2012-02-03 13:30:00 2012-02-03 13:30:00 96
2012-01-06 13:30:00 2012-01-06 13:30:00 97
2011-12-02 13:30:00 2011-12-02 13:30:00 98
2011-11-04 12:30:00 2011-11-04 12:30:00 99
2011-10-07 12:30:00 2011-10-07 12:30:00 100
2011-09-02 12:30:00 2011-09-02 12:30:00 101
2011-08-05 12:30:00 2011-08-05 12:30:00 102
2011-07-08 12:30:00 2011-07-08 12:30:00 103
2011-06-03 12:30:00 2011-06-03 12:30:00 104
2011-05-06 12:30:00 2011-05-06 12:30:00 105
2011-04-01 12:30:00 2011-04-01 12:30:00 106
2011-03-04 13:30:00 2011-03-04 13:30:00 107
2011-02-04 13:30:00 2011-02-04 13:30:00 108
2011-01-07 13:28:00 2011-01-07 13:30:00 109
2010-12-03 13:30:00 2010-12-03 13:30:00 110
2010-11-05 12:30:00 2010-11-05 12:30:00 111
2010-10-08 12:30:00 2010-10-08 12:30:00 112
2010-09-03 12:30:00 2010-09-03 12:30:00 113
2010-08-06 12:30:00 2010-08-06 12:30:00 114
2010-07-02 12:30:00 2010-07-02 12:30:00 115
2010-06-04 12:30:00 2010-06-04 12:30:00 116
2010-05-07 12:30:00 2010-05-07 12:30:00 117
2010-04-02 12:30:00 2010-04-02 12:30:00 118
2010-03-05 13:30:00 2010-03-05 13:30:00 119
2010-02-05 13:30:00 2010-02-05 13:30:00 120
2010-01-08 13:30:00 2010-01-08 13:30:00 121
2009-12-04 13:30:00 2009-12-04 13:30:00 122
2009-11-06 13:26:00 2009-11-06 13:30:00 123
2009-10-02 12:21:00 2009-10-02 12:30:00 124
2009-09-04 12:30:00 2009-09-04 12:30:00 125
2009-08-07 11:31:00 2009-08-07 12:30:00 126
2009-07-02 12:30:00 2009-07-02 12:30:00 127
2009-06-05 12:30:00 2009-06-05 12:30:00 128
2009-05-08 12:30:00 2009-05-08 12:30:00 129
2009-04-03 12:30:00 2009-04-03 12:30:00 130
2009-03-06 13:30:00 2009-03-06 13:30:00 131
2009-02-06 13:28:00 2009-02-06 13:30:00 132
2009-01-09 13:30:00 2009-01-09 13:30:00 133
2008-12-05 13:28:00 2008-12-05 13:30:00 134
2008-11-07 13:30:00 2008-11-07 13:30:00 135
2008-10-03 12:30:00 2008-10-03 12:30:00 136
2008-09-05 12:30:00 2008-09-05 12:30:00 137
2008-08-01 12:26:00 2008-08-01 12:30:00 138
2008-07-03 12:29:00 2008-07-03 12:30:00 139
2008-06-06 12:30:00 2008-06-06 12:30:00 140
2008-05-02 12:30:00 2008-05-02 12:30:00 141
2008-04-04 12:30:00 2008-04-04 12:30:00 142
2008-03-07 13:30:00 2008-03-07 13:30:00 143
2008-02-01 13:30:00 2008-02-01 13:30:00 144
2008-01-04 13:23:00 2008-01-04 13:30:00 145
2007-12-07 13:30:00 2007-12-07 13:30:00 146
2007-11-02 12:30:00 2007-11-02 12:30:00 147
2007-10-05 12:29:00 2007-10-05 12:30:00 148
2007-09-07 12:29:00 2007-09-07 12:30:00 149
2007-08-03 12:16:00 2007-08-03 12:30:00 150
2007-07-06 12:29:00 2007-07-06 12:30:00 151
2007-06-01 12:24:00 2007-06-01 12:30:00 152
2007-05-04 12:21:00 2007-05-04 12:30:00 153
2007-04-06 12:02:00 2007-04-06 12:30:00 154
2007-03-09 13:28:00 2007-03-09 13:30:00 155

In [65]:
a = prices[132]
a[a['time'] == '2009-10-02 12:30:00']
display(a.tail(35))
# 12:32, 12:32, 1

,time,open,high,low,close,tick_volume,spread,real_volume
26,2009-02-06 13:24:00,1.1709,1.1709,1.1707,1.1708,8,40,0
27,2009-02-06 13:25:00,1.1709,1.1710,1.1708,1.1710,4,40,0
28,2009-02-06 13:26:00,1.1709,1.1710,1.1708,1.1708,10,40,0
29,2009-02-06 13:27:00,1.1709,1.1710,1.1708,1.1709,9,40,0
30,2009-02-06 13:28:00,1.1710,1.1710,1.1709,1.1710,5,40,0
31,2009-02-06 13:31:00,1.1711,1.1711,1.1709,1.1709,3,40,0
32,2009-02-06 13:32:00,1.1710,1.1720,1.1710,1.1720,12,40,0
33,2009-02-06 13:33:00,1.1719,1.1720,1.1717,1.1717,15,40,0
34,2009-02-06 13:34:00,1.1718,1.1718,1.1714,1.1716,13,40,0
35,2009-02-06 13:35:00,1.1715,1.1717,1.1715,1.1716,10,40,0
36,2009-02-06 13:36:00,1.1717,1.1718,1.1711,1.1711,15,40,0
37,2009-02-06 13:37:00,1.1712,1.1713,1.1712,1.1713,2,40,0
38,2009-02-06 13:38:00,1.1712,1.1712,1.1707,1.1710,19,40,0
39,2009-02-06 13:39:00,1.1711,1.1711,1.1710,1.1710,4,40,0
40,2009-02-06 13:40:00,1.1711,1.1712,1.1710,1.1711,19,40,0
41,2009-02-06 13:41:00,1.1710,1.1712,1.1706,1.1706,17,40,0
42,2009-02-06 13:42:00,1.1707,1.1709,1.1706,1.1709,7,40,0
43,2009-02-06 13:43:00,1.1710,1.1711,1.1708,1.1710,9,40,0
44,2009-02-06 13:44:00,1.1711,1.1712,1.1710,1.1711,11,40,0
45,2009-02-06 13:45:00,1.1710,1.1710,1.1707,1.1708,16,40,0
46,2009-02-06 13:46:00,1.1709,1.1709,1.1708,1.1708,6,40,0
47,2009-02-06 13:47:00,1.1707,1.1707,1.1705,1.1705,13,40,0
48,2009-02-06 13:48:00,1.1704,1.1704,1.1702,1.1703,14,40,0
49,2009-02-06 13:49:00,1.1704,1.1707,1.1703,1.1707,10,40,0
50,2009-02-06 13:50:00,1.1708,1.1709,1.1706,1.1707,41,40,0
51,2009-02-06 13:51:00,1.1708,1.1708,1.1707,1.1707,38,40,0
52,2009-02-06 13:52:00,1.1708,1.1709,1.1704,1.1709,22,40,0
53,2009-02-06 13:53:00,1.1710,1.1715,1.1709,1.1714,41,40,0
54,2009-02-06 13:54:00,1.1715,1.1721,1.1715,1.1717,17,40,0
55,2009-02-06 13:55:00,1.1716,1.1720,1.1714,1.1718,21,40,0
56,2009-02-06 13:56:00,1.1719,1.1724,1.1718,1.1722,26,40,0
57,2009-02-06 13:57:00,1.1721,1.1724,1.1721,1.1723,11,40,0
58,2009-02-06 13:58:00,1.1724,1.1724,1.1722,1.1723,20,40,0
59,2009-02-06 13:59:00,1.1722,1.1724,1.1722,1.1722,17,40,0
60,2009-02-06 14:00:00,1.1723,1.1723,1.1719,1.1719,29,40,0

In [60]:
dates[121][0], dates[121][-1]

TypeError: 'Timestamp' object is not subscriptable

In [18]:
prices = fnmt5.f_hist_prices(mt5_client, [asset], 'M1', dates[121][0], dates[121][-1]).get(asset)

In [19]:
prices

,time,open,high,low,close,tick_volume,spread,real_volume
0,1262980740,1.02255,1.02266,1.0225,1.02265,28,24,0